
#top {
    display: flex;
    margin: 0 0;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}


#center {
        height : 50vh;
        display : flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-evenly;
        align-items: center;
}

#scoreBoxes {
    display: flex;
    width: 80vw;
    justify-content: space-between;
}


#choiceBoxes {
    display: flex;
    width: 100%;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 10px;
}

#choiceBoxes button {
    min-width: 90px;
    min-height: 100px;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;

    font-size: larger;
}

.displayResult, #vs, #playerIsNow, #computerIsNow, #top #choose, h1, #scoreBoxes #playerScore, #scoreBoxes #computerScore, #choiceBoxes button {
    color: rgb(41, 24, 2);
    background-color: #d3c793;
    border-style: solid;
    border-width: 3px;
    border-radius: 3.5px;

    font-weight: bold;
    padding: 8px 11px;
}

.displayResult {

    flex-wrap: wrap;
    box-sizing: border-box;
    height: 200px;
    width: 80%;
    align-self: center;
    text-align: center;
    font-size: xx-large;
    padding: 50px 0;

    border-radius: 7px;
    border-style: solid;
    border-color: black;
    background-color: #f8e6b9;

}

body {
    display: flex;
    min-height: 95vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    
    background-color: #fcf2e8  ;
}

#smallContainer {
    display: flex;
    gap: 16px;
    color: black;
    background-color: lightblue;
}

#IsNow {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
}

#playerIsNow, #computerIsNow{
    flex-grow: 0.2;
    text-align: center;
    padding: 43px 25px;
    
    font-size: larger;
}

#vs {
    flex-grow: 0.002;
    text-align: center;
    align-self: center;
}

#scoreBoxes #playerScore, #scoreBoxes #computerScore, #choose {
    font-size: larger;
}


/* Coloring */
#choiceBoxes button, #top #choose {
    background-color: #E8C872;
    color: #3D3225;
}

body {
    color: rgb(26, 7, 7);
}

#header, #playerIsNow, #computerIsNow {
    background-color: rgb(235, 230, 160);
    color: rgb(26, 7, 7);
    
}