
#top {
    display: flex;
    height : 12vh;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    align-items: center;}


#center {
        height : 50vh;
        display : flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-evenly;
        align-items: center;
}

#scoreBoxes {
    display: flex;
    width: 80vw;
    justify-content: space-between;
}


#choiceBoxes {
    display: flex;
    width: 90vh;
    gap: 16px;
    justify-content: space-evenly
}


#choiceBoxes button {
    min-width: 90px;
    min-height: 100px;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;

    font-size: larger;
}

#top #choose, h1, #scoreBoxes #playerScore, #scoreBoxes #computerScore, #choiceBoxes button {
    color: black;
    background-color: lightblue;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;

    font-weight: bold;
    padding: 7px 11px;
}

.displayResult {
    display: flex;
    box-sizing: border-box;
    height: 200px;
    margin: 0 100px ;
   
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    background-color: lightblue;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

#smallContainer {
    display: flex;
    gap: 16px;
    color: black;
    background-color: lightblue;
}